<appSettings>
  <clear />
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="AWS_Id" value="key"/>
  <add key="AWS_Secret" value="secret"/>
  <add key="AWS_Bucket" value="bucket"/>
  <add key="AWS_BucketStreaming" value="streaming" />
  <add key="StreamingServer" value="streamingserver"/>
</appSettings>